.footer {
    margin-bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: var(--fs-500);
    line-height: 141.2%;
}

.footerLeft {
    grid-template-columns: auto 1fr;
    gap: 2.25rem;
}

.footerLeft p {
    max-width: 48ch;
}

.playingAnimation__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34px;
    height: 34px;
}

.playingAnimation {
    width: 3px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    animation: playing 2.2s ease infinite alternate;
    content: '';
    transform-origin: center;
}

.playingAnimation:nth-child(even) {
    animation-delay: -2.2s;
}


.playingAnimation:nth-child(even) {
    animation-delay: -3.7s;
}

@keyframes playing {
    10% {
      transform: scaleY(0.3);
    }
    30% {
      transform: scaleY(1);
    }
    60% {
      transform: scaleY(0.5);
    }
    80% {
      transform: scaleY(0.75);
    }
    100% {
      transform: scaleY(0.5);
    }
  }