.wrapper > div:first-child {
    margin-left: 5%;
}

.wrapper > div:first-child img {
    width: 7%;
}

.body {
    height: 50vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.6875rem;
    z-index: -1000;
}

.textWrapper img {
    width: 60%;
    height: 25.2%;
}

.textWrapper img:last-child {
    align-self: flex-end;
}

@media (min-width: 768px) {
    .textWrapper {
        grid-column: 1 / 6;
        grid-row-start: 1;
    }
}

@media (max-width: 768px) {
    .body {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .textWrapper {
        justify-content: flex-start;
        align-items: stretch;
        gap: 0;
    }

    .textWrapper::before {
        content: "001";
        font-family: var(--font-body);
    }

    .textWrapper img {
        width: 60%;
        height: 50%;
    }

    .textWrapper img:last-child {
        margin-top: 1rem;
    }
  }