.video {
    background-color: transparent;
    background-image: url('/images/video.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5% 13%;
    padding-top: 88.83%;
    cursor: pointer;
    z-index: 10;
}

@media (min-width: 768px) {
    .video {
        grid-column: 5 / 7;
        grid-row-start: 1;
    }
}